
@{
    ViewData["Title"] = "Exams";
}
<h2 class="container-fluid">
   c# Exam
</h2>
<div class="container-fluid">
    <p>
        <a class="btn btn-success" style="width:auto"
           asp-action="CreateExam">
            Create New Exam
        </a>
    </p>
</div>