@model WorldUniversity.ViewModels.Questions.CreateQuestionInputModel
@{
    ViewData["Title"] = "CreateQuestion";
}
<div class="col-xl-6 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h2>Create Question</h2>
                    <form asp-action="CreateQuestion">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="QuestionContent" class="control-label"></label>
                            <input asp-for="QuestionContent" class="form-control" />
                            <span asp-validation-for="QuestionContent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlternateAnsOne" class="control-label"></label>
                            <input asp-for="AlternateAnsOne" class="form-control" />
                            <span asp-validation-for="AlternateAnsOne" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlternateAnsTwo" class="control-label"></label>
                            <input asp-for="AlternateAnsTwo" class="form-control" />
                            <span asp-validation-for="AlternateAnsTwo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlternateAnsThree" class="control-label"></label>
                            <input asp-for="AlternateAnsThree" class="form-control" />
                            <span asp-validation-for="AlternateAnsThree" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CorrectAns" class="control-label"></label>
                            <input asp-for="CorrectAns" class="form-control" />
                            <span asp-validation-for="CorrectAns" class="text-danger"></span>
                        </div>
                        <input readonly hidden asp-for="ExamId"/>
                        <div class="form-group row">
                            <input type="submit" value="Create Question" class="btn btn-success btn-block" />
                        </div>
                        <hr />
                        <div class="form-group row">
                            <a class="btn btn-primary btn-block" style="width:auto"
                              asp-controller="Exams" asp-action="Index">
                                Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
