@model WorldUniversity.ViewModels.Courses.GetCoursesDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h2>Courses Details</h2>
            <hr />
            <div class="dl-horizontal">
                <div class="form-group">
                    <label asp-for="Title" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Title</span>
                </div>
                <div class="form-group">
                    <label asp-for="Credits" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Credits</span>
                </div>
                <div class="form-group">
                    <label asp-for="Department" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Department.Name</span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <a class="btn btn-success" style="width:auto"
                           asp-action="Edit" asp-route-id="@Model.Id">
                            Edit Student
                        </a>
                    </div>
                    <br />
                    <div class="row">
                        <a class="btn btn-primary" style="width:auto"
                           asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>