@model IEnumerable<WorldUniversity.Models.ViewModels.EnrollmentDateGroup>
@{
    ViewData["Title"] = "Statistics";
}

<h2>Student Body Statistics</h2>
<table>
    <tr>
        <th>
            EnrollmentDate
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>