@model WorldUniversity.ViewModels.Instructors.GetInstructorsDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

    <h4>Instructor</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="form-group">
            <label asp-for="FirstName" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.FirstName</span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.LastName</span>
        </div>
        <div class="form-group">
            <label asp-for="HireDate" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.ShortHireDateFormat</span>
          </div>
        </div>  
            
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
