@model WorldUniversity.ViewModels.Departments.DepartmentViewModel

@{
    var instructors = Model.Instructors.Select(x => new SelectListItem(x.FullName, x.Id.ToString()));
    ViewData["Title"] = "Edit";
}

<div class="col-xl-6 col-lg-12 col-md-9 mx-auto">   
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h2>Edit Course</h2>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DepartmentId" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Budget" class="control-label"></label>
                            <input asp-for="Budget" class="form-control" />
                            <span asp-validation-for="Budget" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input type="date" asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InstructorId" class="control-label"></label>
                            <select asp-for="InstructorId" class="form-control" asp-items="instructors">
                                <option value="" selected disabled>-- Select Administrator --</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <input type="submit" value="Save" class="btn btn-success btn-block" />
                        </div>
                        <hr />
                        <div class="form-group row">
                            <a class="btn btn-primary btn-block" style="width:auto"
                               asp-action="Index">
                                Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}